.css_detalle_movilizacion_origen_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_detalle_movilizacion_origen_grid_line {vertical-align: top;text-align: left;}
.css_detalle_movilizacion_destino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_detalle_movilizacion_destino_grid_line {vertical-align: top;text-align: left;}
.css_detalle_movilizacion_fecha_inicio_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_detalle_movilizacion_fecha_inicio_grid_line {vertical-align: top;text-align: center;}
.css_detalle_movilizacion_fecha_fin_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_detalle_movilizacion_fecha_fin_grid_line {vertical-align: top;text-align: center;}
.css_iddetalle_movilizacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_iddetalle_movilizacion_grid_line {vertical-align: top;text-align: right;}
.css_id_movilizacion_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_movilizacion_grid_line {vertical-align: top;text-align: right;}
