.css_usuario_idusuario_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_usuario_idusuario_grid_line {vertical-align: middle;text-align: left;}
.css_vehiculo_placa_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_vehiculo_placa_grid_line {vertical-align: middle;text-align: left;}
.css_vehiculo_marca_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_vehiculo_marca_grid_line {vertical-align: middle;text-align: left;}
.css_vehiculo_modelo_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_vehiculo_modelo_grid_line {vertical-align: middle;text-align: left;}
.css_vehiculo_color_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_vehiculo_color_grid_line {vertical-align: middle;text-align: left;}
.css_vehiculo_km_inicial_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_vehiculo_km_inicial_grid_line {vertical-align: middle;text-align: left;}
.css_idvehiculo_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idvehiculo_grid_line {vertical-align: top;text-align: right;}
.css_vehiculo_matricula_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_vehiculo_matricula_grid_line {vertical-align: top;text-align: left;}
