.css_rutas_origen_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_rutas_origen_grid_line {vertical-align: top;text-align: right;}
.css_rutas_destino_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_rutas_destino_grid_line {vertical-align: top;text-align: right;}
.css_rutas_distancia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_rutas_distancia_grid_line {vertical-align: top;text-align: right;}
.css_id_rutas_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_rutas_grid_line {vertical-align: top;text-align: right;}
