.css_tipo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: right;}
.css_tipo_mantenimiento_descripcion_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_mantenimiento_descripcion_grid_line {vertical-align: top;text-align: right;}
.css_tipo_mantenimiento_estado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_mantenimiento_estado_grid_line {vertical-align: top;text-align: right;}
.css_idtipo_mantenimiento_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_idtipo_mantenimiento_grid_line {vertical-align: top;text-align: right;}
